.footer-content{
    text-align: center;
    align-items: center;
    background-color: #020202;
    margin: 0;
    padding: 10px;
    color: aliceblue;
}
.footer-content h3{
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.iconosfooter{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}



.iconosfooter i{
    font-size: 1.5rem;
    color: white;
}



