


.encabezado{    
    background-image: url(https://images.pexels.com/photos/1146708/pexels-photo-1146708.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    height: 17.5rem;
    border: 0;
    margin: 0;
    padding: 0; 
    display: flex;
    place-content: center;
    align-items: center;
}
.encabezado::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 52, 52, 0.388); /* Fondo blanco con opacidad */
}

.imagenEncabezado img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.imagenEncabezado{
    position: absolute;
    left: 1.25rem;
    width:auto;
    height:50%;
    bottom:50% ;
    top: 30%;
    transform: translateY(-50%);

}
.contenidoCentral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 50%;

}
.contenidoCentral h1{
    margin: 0;
    font-size: auto;
    font-family: 'Montserrat', 'Playfair Display', monospace, sans-serif;
    color: #000;
    text-transform: uppercase;
    text-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.7);
    letter-spacing: 0.625rem;
  
}
.contenidoCentral a{
    text-decoration: none;
}

.contenedorInput{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 0.9375rem;
}

.contenedorInput input{
    width: 100%;
    padding: 1% 2% 1% 10%;
    font-size: 1rem;
    border-radius: 0.625rem;
    border: none;
    outline: none;
    text-align: left
}
.contenedorInput i {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 1rem;
  pointer-events: none; /* permite hacer clic en el input sin problemas */
}
.iconosHeader{
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    gap: 15px;
}

.iconosHeader a{
    color: #000;
    font-size: 1.4rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
.iconosHeader a:hover{
    color: #000;
    text-shadow:0 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}
.imagen_intermedio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}