body{
    margin: 0;
    padding: 0;
    border: none;   /*Se eliminan bordes de página */ 
    
}

header{
    position: relative;
}

.cuadros_dinamicos{
    display: flex;
    height: 500px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;

}

.box{
    position: relative;
    width: 200px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
    background: transparent;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.box:hover{
    transform: scale(1.3);
    z-index: 2;
}

a img{
    border: none;
    outline: none;
}

.box .overlay_imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    transition: opacity 0.3s;
    pointer-events: none; /* Para que el enlace siga funcionando */
    border-radius: 0; 
}

.box:hover .overlay_imagen{
    opacity:0.5;
}

.modal_contacto{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
}




.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  font-size: 28px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Cuerpo {
    display: flex;
    background-color:rgb(255, 255, 255);
    padding: 0.3125rem 1.875rem 0.3125rem;	
    height: 100%;
    flex-flow: column wrap;
    max-width: 99%;
    max-height: 99%;
    justify-content: center;
    align-items: center;
}
.TituloCuerpo{
    flex: 1 1 99%;
    justify-content: center;
}
.TituloCuerpo h2{
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ConteMasVend{
    flex: 1 1 99%;
    display: flex;
    justify-content: center;
    padding: 5px;
    flex-direction: row;
    box-sizing: border-box;
    background-color:rgb(255, 255, 255);
}
.ProMaVe1{
    flex: 1 1 22%;
    box-sizing: border-box;
    /* border: solid; */

}
.ProMaVe2{
    flex: 1 1 22%;
    flex-basis: 22%;
    box-sizing: border-box;
    /* border: solid; */
}
.ProMaVe3{
    flex: 1 1 22%;
    flex-basis: 22%;
    box-sizing: border-box;
    /* border: solid; */
}
.ProMaVe4{
    flex: 1 1 22%;
    flex-basis: 22%;
    box-sizing: border-box;
    /* border: solid; */
}
.EsBt1{
    flex: 1 1 6%;
    box-sizing: border-box;
    /* border: solid; */

}
.EsBt2{
    flex: 1 1 6%;
    box-sizing: border-box;
    /* border: solid; */

}
.ProduMasVend{
    flex: 1 1 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    /* max-width: 20rem;
    width: 100%;
    max-height: 32rem; 
    height: 100%; */
    background-color:#ffffff;
    padding: 0.3125rem;
    margin-right: 0.3125rem;
    /*position: static;*/   
    /*grid-template-rows:79% 5% 5% 4% 7%;*/
    /* border: solid; */
}
.img_productos {
    align-items: stretch;
    justify-content: center;
    background: #000;
    /*border: solid;*/
    flex-basis: 79%;
    order:1;
    
}
.img_productos img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 5/7;
} 
.NombreProductoArt{
    align-items: center;
    max-width:  20vw;
    width: auto;
    /* border: solid; */
    flex-basis: 5%;
    order:2;
}
.NombreProducto{
    font-size: 100%;
    font-family: Lucida;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: solid; */
}
.PrecioArt{
    align-items: center;
    max-width:  20vw;
    width: auto;
    /* border: solid; */
    flex-basis: 5%;
    order:3;
}
.NombrePrecio{
    font-size: 100%;
    font-family: Lucida;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: solid; */
}
.ColorArt{
    width:  100%;
    place-items: center;
    align-items: center;
    /* border: solid; */
    flex-basis: 4%;
    order:4;
}
.ListaColor{
    display:flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.ListaColor li {
    justify-content: center; 
    display: flex;
    margin-right: 5px;
}
.ListaColor li img{
    max-width: 0.9rem;
    max-height: 0.9rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ListaColor li img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.CompraArt{
    justify-content: center; 
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    order:5;
}
.CompraButton{
    justify-content: center; 
    align-items: center;
    padding:0;
    border: none;
    background-color: #ecc4fd;
    cursor: pointer;
    font-size: auto;
    font-family: Lucida;
    color: #000;
    transition: background-color 0.4s;
    width: 100%;
}
.CompraButton:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  border: #1a1a1a solid;
  transform: scaleY(1.1);
  
}
/*
.CompraButton.active {
  background-color: #4CAF50;
  color: white;
} */

.EspaButto{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background-color:#ffffff;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: auto;
}
.Botton{
    height: 90%;
    cursor: pointer;
    font-size: auto;
    font-family: Lucida;
    color: #ffffff;
    border: none;
    background-color: #ffffff;
    transition: background-color 0.4s;
    
}
.Botton:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  border: #1a1a1a solid;
  transform: scaleY(1.1);
}

