body{
    margin: 0;
    padding: 0;
    border: none;   /*Se eliminan bordes de página */ 
    
}
header{
    position: relative;
}

.cuadros_dinamicos{
    display: flex;
    Position: relative;
    background-color:rgb(255, 255, 255);
    padding: 1.875rem 1.875rem 1.875rem;	
    flex-flow: row wrap;
    max-width: 99%;
    justify-content: center;
    align-items: center;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.4375rem;
    width: 100%;
    padding: 1.25rem;
    margin: 0 auto;
    flex-flow: row wrap;

}

.box{
    position: relative;
    width: 11.5rem;
    height: 16.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 20px 2px rgba(0,0,0,.1);
    transition: 1s;
    background: transparent;
    
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.box:hover{
    transform: scale(1.3);
    z-index: 2;
}

a img{
    border: none;
    outline: none;
}

.box .overlay_imagen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    transition: opacity 0.3s;
    pointer-events: none; /* Para que el enlace siga funcionando */
    border-radius: 0; 
}

.box:hover .overlay_imagen{
    opacity:0.5;
}
.modal_contacto{
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
}

.contenido_modal h2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido_modal{
    background-color: white;
    margin: 10% auto;
    padding: 30px 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 700px;
    position:relative;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.cerrar{
    position: absolute;
  right: 16px;
  top: 10px;
  font-size: 28px;
  cursor: pointer;
}

.contenido_modal label{
    display: block;
    margin-top: 10px;
}

.contenido_modal input,
.contenido_modal textarea{
    width: 80%;
    margin-top: 0.3125rem;
    margin-bottom: 0.625rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.0625rem  solid #ccc;
}

.contenido_modal button{
    width: 100%;
  padding: 10px;
  background: #e09ec7;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  font-size: 28px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  line-height: 55px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.SliderPromoConte {
    display: flex;
    position: relative;
    background-color:rgb(255, 255, 255);
    padding: 0.3125rem 1.875rem 0.3125rem;	
    max-width:100%;
    height: 31.25rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.SliderPromo {
    background-color:rgb(255, 255, 255);
    display: flex;
    width:100%;
    height:100%;
    transition: transform 0.5s ease-in-out;
}

.SliderPromoImg {
    width:100%;
    height:100%;
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
    }
.SliderPromoImg img{
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: fill;
    aspect-ratio: 21/9; /*Mantiene una relación de aspecto de 16:9 */
}

button.SliBottonPrev, button.SliBottonNext {
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
}

.SliBottonPrev { 
    left: 0.625rem; 
}

.SliBottonNext { 
    right: 0.625rem; 
}
/*CUerpo lo mas vendido */ 
.Cuerpo {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.CuerpoInferior{
    display: flex;
    Position: relative;
    background-color:rgb(255, 255, 255);
    padding: 0.3125rem 1.875rem 0.3125rem;	
    flex-flow: row wrap;
    height: 100%;
    max-width: 99%;
    align-items: flex-start;
}
.TituloCuerpo{
    position: relative;
    flex: 1 1 99%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.TituloCuerpo h2{
    position: relative;
    font-size: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ConteMasVend{
    position: relative;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-self: start;
    justify-content: flex-start;
    transition: transform 0.5s ease-in-out;
    margin: 0.3125rem  3rem 0.3125rem 3rem;
   
}
.ConteProduNue{
    position: relative;
    display: flex;
    height: 100%;
    max-width:100% ;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    
}
.ProduMasNuevo{
    position: relative;
    padding: 0.3125rem;
    flex: 1 1 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 15.5rem;
    background-color:#ffffff;
    margin: 0.3125rem;
}



.ProduMasVend{
    position: relative;
    flex: 0 0 calc((100% - 3rem) / 4);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 22%;
    background-color:#ffffff;
    margin-right: 0.3125rem;
    padding-left:0.3125rem; 
    box-sizing: border-box;

}

.img_productos {
    align-items: stretch;
    justify-content: center;
    background: #000;
    /*border: solid;*/
    flex-basis: 79%;
    order:1;
    
}
.img_productos img{
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 5/7;
} 
.NombreProductoArt{
    align-items: center;
    width: 100%;
    /* border: solid; */
    flex-basis: 5%;
    order:2;
}
.NombreProducto{
    width: 100%;
    font-size: 100%;
    font-family: Lucida;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: solid; */
}
.PrecioArt{
    align-items: center;
    width: 100%;
    /* border: solid; */
    flex-basis: 5%;
    order:3;
}
.NombrePrecio{
    font-size: 100%;
    width: 100%;
    font-family: Lucida;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* border: solid; */
}
.ColorArt{
    width:  100%;
    place-items: center;
    align-items: center;
    /* border: solid; */
    flex-basis: 4%;
    order:4;
}
.ListaColor{
    display:flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
.ListaColor li {
    justify-content: center; 
    display: flex;
    margin-right: 5px;
        cursor: pointer;

}
.ListaColor li img{
    max-width: 0.9rem;
    max-height: 0.9rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ListaColor li img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.CompraArt{
    justify-content: center; 
    align-items: center;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: solid; */
    order:5;
}
.CompraButton{
 
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center; 
    align-items: center;
    padding:0;
    border: none;
    background-color: #ecc4fd;
    cursor: pointer;
    font-size: 1vh 1vw;
    font-family: Lucida;
    color: #000;
    transition: background-color 0.4s;
    width: 100%;
}
.CompraButton:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  border: #1a1a1a solid;
  transform: scaleY(1.1);
  
}
/*
.CompraButton.active {
  background-color: #4CAF50;
  color: white;
} */

button.BottonIzq, button.BottonDer {
    justify-content: center;
    top: 50%;
    align-items: center;
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;

}

.BottonIzq { 
    left: 0.625rem; 
}

.BottonDer { 
    right: 0.625rem; 
}
.BottonDer i,.BottonIzq i{
    color: #929593;
}
.BottonDer:hover, .BottonIzq:hover {
    background-color: #1a1a1a;
    color: #ffffff;
    border: #1a1a1a solid;
    transform: scaleY(1.1);
}

/* Banner pequeño */
.BannerPequeño {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 5rem; 
    max-height: 20rem;/* Ajusta la altura según sea necesario */
    background-color: #fd0000; /* Color de fondo opcional */
    margin:0.3125rem 0 0.3125rem;	
}

.BannerCatalogo {
    display: flex;
    position: relative;
    background-image: url(https://upload.hkgolden.media/comment/wpr4sdw5.nrp3h42lyk3.bggi220kgw3.owd.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    position: relative;
    max-width:100%;
    height: 31.25rem;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.ContenedorBannerCatalogo{
    flex: 1 1 auto;
    position: relative;  
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width:25rem;
    height: 20%;

}
.CatalogoButton{
 
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center; 
    align-items: center;
    padding:0;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 150%;
    font-family: Lucida;
    color: #000;
    width: 100%;
    height: 100%;
    transition:all 0.9s;
    opacity:0.3;
}
.CatalogoButton:hover {
    background-color: #1a1a1a;
    color: #ffffff;
    border: #1a1a1a solid;
    transform: scale(2.6);
    opacity:1;
    
  
}


