*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    margin: 4vh;
    background-color: #f4f4f9;
}
.contenedor{
    display:flex;
    align-items: flex-start;
    justify-content: sp;
}